.root{
    flex-grow: 1;
}
strong{
    color: black;
}
.appBar{
    background-color: whitesmoke;
    box-shadow: none;
}
.grow {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
}
.button {
    margin-left: 10px;
}
.image {
    margin-right: 10px;
    height: 3rem;
}