.rootNavBar {
    flex-grow: 1;
}

.AppBar {
    background-color: #333;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuButton {
    margin-right: 16px;
}

.image {
    height: 60px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.grow {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    display: flex;
    align-items: center;
}

.optionsMenu {
    margin-left: auto;
}
